<h1>Movie List</h1>

<ul>
    <% @movies.each do |movie| %>
        <li>
            <strong> <%= movie.title %> </strong> - <%= movie.description %> </strong> - <%= movie.runtime %> </strong> - <%= movie.genre %>
        </li>
    <% end %>
</ul>